body {
  margin:0;
  height:100%;
  width:100%;
  background-color: black;
  color: white;
}
h1 {
  margin:0;
  padding:0;
}
#hand_note, #current_note, .square, .diamond-top, .diamond-bottom, #hand {
  position: absolute;
  left: 0;
  top: 0;
}
#hand {
  background-color: white;
  width: 50px;
  height: 50px;
  border-radius: 25px;
  display: none;
}

#record_pause, #home {
  height:100%;
}
#welcome {
  text-align:center;
  width: 200px;
  height: 200px;
  border-radius: 100px;
  line-height: 200px;
  background-color: hsla(160, 94.1748%, 59.6078%, 1.0000);
  margin: 0 auto;
}

.diamond-top {
  width: 0;
  height: 0;
}
.diamond-bottom {
  content: '';
  width: 0;
  height: 0;
}


.square {
  width: 100px;
  height: 100px;
}

@-webkit-keyframes spin 
{
    from { transform: rotate(0deg); }
      to { transform: rotate(360deg); }
}
.spin {
  -webkit-animation-name: spin;
  -webkit-animation-duration: 40000ms;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

